<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  <title>Color palette</title>

  <link href='/assets/images/favicons/favicon.png' rel='icon' type='image/png'>
  <link href='/assets/images/favicons/favicon-32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='/assets/images/favicons/favicon-64.png' rel='icon' sizes='64x64' type='image/png'>

  <link href='./styles.scss' rel='stylesheet' />
  <script src='./app.jsx' type='module'></script>
</head>

<body>
<main>
  <div id='root'></div>
</main>
</body>
</html>